

h1{
	color: red;
}


body{
	
width: 800px;
height: 600px;
background-color: #e6f2ff;
}


img {
	border-style: solid;
	border-color: red;
	border-width: 5px;
	
}	
	
}
#p3 {
	color: blue;
}
#p4 {
	color: blue;
}
	
	#header{
		grid
	}
	h2{
	font-family: 'Open Sans', sans-serif;
	color: blue;
	}



